# If else

In [11]:
num1=int(input("Enter a number"))
if num1%2==0:
    print("even")
else:
    print("odd")

Enter a number111
odd

In [12]:
Indian=['idli','samosa','dosa']
chinese=['pasta','nudles']
dish=input("Enter dish")
if dish  in Indian:
    print("Indian")
elif dish  in chinese:
    print("chinese")
else:
    print("NA")

Enter dishdosa
Indian

# For loop

In [23]:
exp=[20,99,21,12,34]
total=0
for i in exp:
    total=total+i
print(total)

186

In [33]:
for i in range(2,11):
    print(i*i)

4
9
16
25
36
49
64
81
100

In [46]:
exp=[2340,222,3211,1211]
total=0
for i in range(len(exp)):
    print('Month:',(i+1),'Expense:',exp[i])
    total=total+exp[i]
    
print('total',total)

Month: 1 Expense: 2340
Month: 2 Expense: 222
Month: 3 Expense: 3211
Month: 4 Expense: 1211
total 6984

In [8]:
for i in range(1,10):
    if i%2==0:
        continue
    print(i*i)

1
9
25
49
81

In [9]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5